[user]
	email = allen151@gannon.edu
	name = ColonelBjorne
[core]
	autocrlf = true
[core "safe"]
	crlf = true
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file
	dump = cat-file